<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" [class.highlight]="isHighlight" [style.font-size.px]="fontSize"
      href="index.html">conduit</a>

    <!-- <a class="navbar-brand"
      [ngClass]="{ highlight: isHighlight }"
      [style]="{ 'font-size': fontSize + 'px' }"
      href="index.html">conduit</a> -->

    <!-- <a class="navbar-brand"
      [class]="{ highlight: isHighlight }"
      [style]="{ 'font-size': fontSize + 'px' }"
      href="index.html">conduit</a> -->

    <!-- <input
      class="form-control form-control-sm search-input"
      type="text"
      placeholder="Keyword"
      [value]="counter"
      (input)="keywordInput($event)"
      > -->
    <!-- <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [value]="counter"
      (input)="counter = $event.target.value"> -->

    <!-- <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="counter"> -->
    <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="keyword">

    <!-- <button class="btn btn-sm btn-primary" (click)="counter = counter + 1"> -->
    <button class="btn btn-sm btn-primary" (click)="buttonClick($event)">
      <i class="ion-search"></i>
    </button>
    {{ this.counter }}

    <!-- <span [hidden]="keyword !== ''" class="highlight">請輸入查詢條件</span> -->
    <!-- <span class="highlight" *ngIf="keyword === ''">請輸入查詢條件</span> -->
    <!-- <span class="highlight" *ngIf="keyword !== ''">輸入的內容為 {{ keyword }}</span> -->
    <!-- <span class="highlight">{{ keyword === '' ? '請輸入查詢條件' : '輸入的內容為' + keyword}}</span> -->

    <!-- <span class="highlight" *ngIf="keyword === '';else hasKeyword">請輸入查詢條件</span> -->

    <span class="highlight">
      <ng-container *ngIf="keyword === ''; then noKeyword; else hasKeyword"></ng-container>
    </span>

    <ng-template #noKeyword>
      請輸入查詢條件
    </ng-template>

    <ng-template #hasKeyword>
      輸入的內容為 {{ keyword }}
    </ng-template>

  </div>
</nav>
